.card {
    flex: 0 0 1;
    border: .5px solid #d1d1d1;
    padding: 2rem;
    margin: 1rem;
    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}